@media only screen and (min-width: 701px) {
    .loginProstovoljci{
        width: 100vw;
        height: 100vh;
        
    }

    .prijavaProstovoljci{
        color: white;
        margin-left: 40.5vw;
        font-size: 45px;
    }
    #btnNazaj2{
        background-color: #41b0cd;
        color: white;
        position: relative;top:-55vh;
        margin-left: 1vw;
        width: 10vw;
        height: 5vh;
        border-radius: 10px;
        border-color:white;
    }
    #btnNazaj2:hover{
        background: #173b5e;
        cursor: pointer;
    }


}

@media only screen and (max-width: 700px) {
    .loginProstovoljci{
        width: 100vw;
        height: 100vh;
        
    }

    .prijavaProstovoljci{
        color: white;
        margin-left: 17.5vw;
        font-size: 30px;
    }

    #btnNazaj2{
        background-color: #41b0cd;
        color: white;
        position: relative;top:-40vh;
        margin-left: 1vw;
        width: 20vw;
        height: 5vh;
        border-radius: 10px;
        border-color:white;
    }
    #btnNazaj2:hover{
        background: #173b5e;
        cursor: pointer;
    }
    
}