@media only screen and (min-width: 701px) {
    .loginProstovoljci{
        width: 100vw;
        height: 100vh;
        
    }

    .prijavaProstovoljci{
        color: white;
        font-size: 11px;
        display: flex;
        justify-content: center;
        font-family: 'Inter', sans-serif;
        position: relative;
        top: 18vh;
    }

    .prijavaProstovoljci1{
        color: white;
        font-size: 22px;
        font-weight: bolder;
        position: relative;
        display: flex;
        top: 19.75vh;
        font-family: 'Inter', sans-serif;
        justify-content: center;
    }

    .E-mailRegistracijaProstovoljci{
        margin: auto;
        width: 30vw;
        height: 5vh;
        position: relative;
        top: 21.5vh;
        justify-content: center;
        display: flex;
        font-family: 'Inter', sans-serif;
        font-style: normal;
    }

    #exampleInputEmail12{
        border-style: none;
    }

    #exampleInputPassword12{
        border-style: none;
    }

    ::placeholder{
        color: #173b5e;
        margin-left: 4vh;
    }

    .GesloRegistracijaProstovoljci{
        margin: auto;
        width: 30vw;
        height: 5vh;
        position: relative;
        top: 23vh;
        justify-content: center;
        display: flex;
        font-family: 'Inter', sans-serif;
        font-style: normal;
    }
    
    .prijavaProstovoljci2{
        color: white;
        font-size: 11px;
        margin-left: 11vh;
        width: 60vw;
        top: 23vh;
        position: relative;
        font-family: 'Inter', sans-serif;
        text-align: center;
    }

    #btnRegistracija1{
        background-color: #41b0cd;
        color: white;
        position: relative;
        top: 26.75vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 8vh;
        border-color:white;
        border-radius: 6px;
        font-family: 'Inter', sans-serif;
        margin: auto;
    }

    #btnRegistracija1:hover{
        background: #41b0cd;
        cursor: pointer;
    }

    #btnPrijava1{
        background-color: #41b0cd;
        color: white;
        position: relative;
        top: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 8vh;
        border-color:white;
        border-radius: 6px;
        font-family: 'Inter', sans-serif;
        margin: auto;
    }
    
    #btnPrijava1:hover{
        background: #41b0cd;
        cursor: pointer;
    }
}

@media only screen and (max-width: 700px) {
    .loginProstovoljci{
        width: 100vw;
        height: 100vh;
        
    }

    .prijavaProstovoljci{
        color: white;
        font-size: 11px;
        display: flex;
        justify-content: center;
        font-family: 'Inter', sans-serif;
        position: relative;
        top: 18vh;
    }

    .prijavaProstovoljci1{
        color: white;
        font-size: 22px;
        font-weight: bolder;
        position: relative;
        display: flex;
        top: 19.75vh;
        font-family: 'Inter', sans-serif;
        justify-content: center;
    }

    .E-mailRegistracijaProstovoljci{
        margin: auto;
        width: 30vw;
        height: 5vh;
        position: relative;
        top: 21.5vh;
        justify-content: center;
        display: flex;
        font-family: 'Inter', sans-serif;
        font-style: normal;
    }

    #exampleInputEmail12{
        border-style: none;
    }

    #exampleInputPassword12{
        border-style: none;
    }

    ::placeholder{
        color: #173b5e;
        margin-left: 4vh;
    }

    .GesloRegistracijaProstovoljci{
        margin: auto;
        width: 30vw;
        height: 5vh;
        position: relative;
        top: 23vh;
        justify-content: center;
        display: flex;
        font-family: 'Inter', sans-serif;
        font-style: normal;
    }
    
    .prijavaProstovoljci2{
        color: white;
        font-size: 11px;
        margin-left: 11vh;
        width: 60vw;
        top: 23vh;
        position: relative;
        font-family: 'Inter', sans-serif;
        text-align: center;
    }

    #btnRegistracija1{
        background-color: #41b0cd;
        color: white;
        position: relative;
        top: 26.75vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 59.5vw;
        height: 5vh;
        border-color:white;
        border-radius: 6px;
        font-family: 'Inter', sans-serif;
        margin: auto;
    }

    #btnRegistracija1:hover{
        background: #41b0cd;
        cursor: pointer;
    }

    #btnPrijava1{
        background-color: #41b0cd;
        color: white;
        position: relative;
        top: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 59.5vw;
        height: 5vh;
        border-color:white;
        border-radius: 6px;
        font-family: 'Inter', sans-serif;
        margin: auto;
    }
    
    #btnPrijava1:hover{
        background: #41b0cd;
        cursor: pointer;
    }
    
}