@media only screen and (min-width: 701px) {
    #prostovoljciMessageStil{
        width:100%;
        height:100vh;
    }

    .topBarProstovoljci{
        overflow: visible;

        
        width: 100%;
        height: 20vh;
        
        position: fixed;
        background-color: white;
        background-image: url('../resources/druzabnik_smajli_blue.png');
        background-repeat: no-repeat;
        background-size: auto 20vh;
        background-position: left;
    }

    #chatTitle{
        text-align: center;
        margin-bottom: 7vh;
    }

    .underBarProstovoljciChat{
        width: 100%;
            height: 100%;
        
            padding-top: 20vh;
    
            background-repeat: no-repeat;
            background-size: 100vw 100%;
            background-position: center; 
            background-color: #487a9d;
    }


    .messageLeft{
        background-color: #43b1cc;
        color:white;
        word-wrap: break-word;
        width: 45vw;
        float:left;
        clear:both;
        border-radius: 25px;
        padding-right: 2vw;
        padding-left: 2vw;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        margin-left: 1vw;
    }
    .messageRight{
        background-color: #153d60;
        color:white;
        word-wrap: break-word;
        width: 45vw;
        float:right;
        clear: both;
        margin-right: 1vw;
        border-radius: 25px;
        padding-right: 2vw;
        padding-left: 2vw;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
    }

    #newMessage{
        float:right;
        clear: both;
        margin-right: 20vw;
        margin-top:8vh;
    }

    #newMessage #tekst{
        height: 5vh;
        width:20vw;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-style: solid;
    }
    #newMessage #tekstPoslji{
        height: 5vh;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-style: solid;
        background-color: #153d60;
        color:white;
    }
    #newMessage #tekstPoslji:hover{
        height: 5vh;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-style: solid;
        background-color: #43b1cc;
        color:white;
    }

}

@media only screen and (max-width: 700px) {

    .headerHomeVol{
        font-size: 5vw;
    }

    #prostovoljciMessageStil{
        width:100%;
        height:100vh;
    }

    .topBarProstovoljci{
        overflow: visible;

        
        width: 100%;
        height: 20vh;
        
        position: fixed;
        background-color: white;
        background-image: url('../resources/druzabnik_smajli_blue.png');
        background-repeat: no-repeat;
        background-size: auto 20vh;
        background-position: left;
    }

    body{
        background-color: #487a9d;
    }

    #chatTitle{
        text-align: center;
        margin-bottom: 7vh;
    }

    .underBarProstovoljciChat{
        width: 100%;
            height: 100%;
        
            padding-top: 20vh;
    
            background-repeat: no-repeat;
            background-size: 100vw 100%;
            background-position: center; 
            background-color: #487a9d;
    }


    .messageLeft{
        background-color: #43b1cc;
        color:white;
        word-wrap: break-word;
        width: 60vw;
        float:left;
        clear:both;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        padding-right: 2vw;
        padding-left: 2vw;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        margin-top: 1vh;
    }
    .messageRight{
        background-color: #153d60;
        color:white;
        word-wrap: break-word;
        width: 60vw;
        float:right;
        clear: both;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        padding-right: 2vw;
        padding-left: 2vw;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        margin-top: 1vh;
    }

    

    #newMessage{
        float:right;
        clear: both;
        margin-right: 10vw;
        margin-top:8vh;
        margin-bottom: 2vh;
    }

    #newMessage #tekst{
        height: 5vh;
        width:60vw;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-style: solid;
    }
    #newMessage #tekstPoslji{
        height: 5vh;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-style: solid;
        background-color: #153d60;
        color:white;
    }
    #newMessage #tekstPoslji:hover{
        height: 5vh;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-style: solid;
        background-color: #43b1cc;
        color:white;
    }

}