@media only screen and (min-width: 701px) {
    .registrationPageProstovoljci{
        width: 100vw;
        height: 100vh;
        
    }
    .topbar{
        overflow: visible;
        top: 0;
        width: 100%;
        height: 15vh;
        position: fixed;
        background-color: white;
        background-image: url('../resources/druzabnik_digonala.png');
        background-repeat: no-repeat;
        background-size: auto 25vh;
        background-position: center;
    }
    
    .underbar{
        width: 100%;
        height: 100%;
        padding-top: 25vh;
        background-image: url('../resources/klopca2.jpg');
        background-repeat: no-repeat;
        background-size: auto 175vh;
        background-position: center; 
    }

    .registracijaProstovoljci1{
        color: white;
        font-size: 45px;
        display: flex;
        justify-content: center;
    }

    .registracijaProstovoljci1-tekst{
        color: white;
        font-size: 45px;
        display: flex;
        justify-content: center;
    }

    .UporabniskoIme{
        margin-left: 40vw;
        width: 20vw;
        height: 5vh;
        position: relative;top:10vh;
    }
   
    .Ime{
        margin-left: 40vw;
        width: 20vw;
        height: 5vh;
        position: relative;top:14vh;
    }

    .Priimek{
        margin-left: 40vw;
        width: 20vw;
        height: 5vh;
        position: relative;top:18vh;
    }

    .GesloProstovoljci{
        margin-left: 40vw;
        width: 20vw;
        height: 5vh;
        position: relative;top:22vh;
    }

    .uporabniskoIme-text{
        color: white;
        height: 2vh;
    }

    .Priimek-text{
        color: white;
        height: 2vh;
    }

    .Ime-text{
        color: white;
        height: 2vh;
    }

    .email-text{
        color: white;
        height: 2vh;
    }
    .GesloProstovoljci-text{
        color: white;
        height: 2vh;
    }
    
    #btnRegistracijaProstovoljci{
        background-color: #41b0cd;
        color: white;
        position: relative;top:28vh;
        margin-left: 40vw;
        width: 20vw;
        height: 5vh;
        border-radius: 10px;
        border-color:white;
    }

    #btnRegistracijaProstovoljci:hover{
        background: #173b5e;
        cursor: pointer;
    }
    #btnRegistracijaProstovoljci{
        background-color: #41b0cd;
        color: white;
        position: relative;top:28vh;
        margin-left: 40vw;
        width: 20vw;
        height: 5vh;
        border-radius: 10px;
        border-color:white;
    }
    #btnRegistracijaProstovoljci:hover{
        background: #173b5e;
        cursor: pointer;
    }

    #btnNazaj3{
        background-color: #41b0cd;
        color: white;
        position: relative;top:-55vh;
        margin-left: 1vw;
        width: 10vw;
        height: 5vh;
        border-radius: 10px;
        border-color:white;
    }
    #btnNazaj3:hover{
        background: #173b5e;
        cursor: pointer;
    }
}

@media only screen and (max-width: 700px) {
    .registrationPageProstovoljci{
        width: 100vw;
        height: 100vh;
        
    }
    .topbar{
        overflow: visible;
        top: 0;
        height: 17vh;
        position: fixed;
        background-color: white;
        background-repeat: no-repeat;
        background-size: auto 25vh;
        background-position: center;
    }
    
    .underbar{
        width: 100%;
        height: auto;
        padding-top: 25vh;
        background-image: url('../resources/klopca2.jpg');
        background-repeat: no-repeat;
        background-size: auto 175vh;
        background-position: center; 
    }
    .registracijaProstovoljci1{
        color: white;
        font-size: 30px;
        font-weight: 625;
        top: 20vh;
        display: flex;
        justify-content: center;
    }

    .UporabniskoIme{
        margin: auto;
        width: 41vw;
        height: 4vh;
        position: relative;
        top: 23.95vh;
        display: flex;
        justify-content: center;
    }

    #exampleUporabniskoIme1{
        border-style: none;
    }
   
    .Ime{
        margin: auto;
        width: 41vw;
        height: 4vh;
        position: relative;
        top: 25.95vh;
        border-radius: 0%;
        display: flex;
        justify-content: center;
    }

    #exampleIme1{
        border-style: none;
    }

    .GesloProstovoljci{
        margin: auto;
        width: 41vw;
        height: 4vh;
        position: relative;
        top: 27.95vh;
        justify-content: center;
        display: flex;
    }

    #exampleGesloProstovoljci1{
        border-style: none;
        
    }
    
    ::placeholder{
        color: black;
    }

    #btnRegistracijaProstovoljci{
        background-color: #41b0cd;
        color: white;
        position: relative;
        top:39.3vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 41vw;
        height: 5vh;
        border-color:white;
        border-radius: 6px;
    }

    #btnRegistracijaProstovoljci{
        background: #41b0cd;
        margin: auto;
        cursor: pointer;
    }
}